body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 100%;
    color: white;
}

#desktop {
    width: 100%;
    height: 100%;
}

.hbox {
    display: flex;
    width: 100%;
    gap: 10px;
}

.vbox {
    display: flex;
    height: 100%;
    gap: 10px;
    flex-direction: column;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
    

.horizontal-center {
    align-items: center;
    justify-content: center;
}

.c1 {
    background-color: #121212;
}

.c2 {
    background-color: #232323;
}

.c3 {
    background-color: #801336;
}

.c4 {
    background-color: #c72c41;
}

.c5 {
    background-color: #ee4540;
}

.garage-remote {
    width: 1080px;
    max-width: 95%;
}

.garage-state {
    
}

.garage-button {
    
}