/*
 Color pallete:
 #ee4540
 #c72c41
 #801336
 #510a32
 #2d142c
 */

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 100%;
    color: white;
}

.hbox {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.vbox {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    flex-direction: column;
}

.focus-center {
    align-items: center;
    justify-content: center;
}

.c1 {
    background-color: #121212;
}

.c2 {
    background-color: #232323;
}

.c3 {
    background-color: #801336;
}

.c4 {
    background-color: #c72c41;
}

.c5 {
    background-color: #ee4540;
}

.time {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
}

.date {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

.prayer-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
    flex: 1;
    text-align: right;
}

.prayer-time {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    flex: 1;
    text-align: center;
}

#desktop {
    width: 100%;
    height: 100%;
}

#schematic {
    width: 100%;
    height: 100%;
    background-color: #121212;
}

.schematic-theme-floor {
    border-color: #363636;
    fill: #242424;
}

.schematic-theme-wall {
    fill: #363636;
    fill-opacity: 1;    
}

.schematic-theme-closet  {
    fill: #232323;
    border-color: #363636;
    fill-opacity: 1;    
}

.schematic-theme-stairs  {
    fill: #363636;
    fill-opacity: 0.6;    
}

.schematic-theme-counters  {
    fill: red;
    fill-opacity: 1;    
}

.schematic-theme-doors  {
    fill: red;
    fill-opacity: 1;    
}